<nav class="navbar navbar-expand bg-light navbar-light fixed-top" style="min-width: 320px; height: 100px;">
  <a class="navbar-brand mr-0 pr-2" routerLink="">
    <img src="assets/book-flat.png" alt="" style="width: 64px;">
  </a>
  <a class="navbar-brand mr-auto" style="width: 0;" routerLink="">
    <h1 class="display-4">book.</h1>    
  </a>
  <div id="search-box" [ngClass]="{'w-25': !(searching||searchBox.value)}" class="input-group bg-light float-right">
    <input #searchBox type="search" class="form-control border border-secondary border-right-0" 
      (keyup)="search(searchBox.value)" (focus)="searching=true" (blur)="searching=false">
    <span class="input-group-append">
      <a class="bg-white border rounded-right border-secondary border-left-0 p-0" routerLink="">
        <img class="m-1" src="assets/search.png" alt="" style="width: 32px">
      </a>
    </span>
    <ul class="search-results">
      <li *ngFor="let user of users$ | async" class="rounded">{{user.Name}}</li>
    </ul>
  </div>
</nav>