<nav class="navbar navbar-expand bg-light navbar-light fixed-top" style="min-width: 320px; height: 100px;">
  <a class="navbar-brand mr-0 pr-2" routerLink="">
    <img src="assets/book-flat.png" alt="" style="width: 64px;">
  </a>
  <a id="text-logo" class="navbar-brand mr-auto" routerLink="">
    <h1 class="display-4">book.</h1>    
  </a>
  <app-user-search #searchContainer id="search-container" class="bg-light float-right"
    [searchIcon]="true" purpose="nav"
    [ngClass]="{'w-25': !(searchContainer.searching||searchContainer.searchBox.nativeElement.value)}">
  </app-user-search>
</nav>