<div style="padding: 5px">
    <div class="jumbotron mx-auto mt-3 py-3" *ngIf="appointment && people && appointment.Party.length===people.length">
  
      <div class="row">
        <div class="col-2">
          <button class="btn" (click)="goBack()">Back</button>
        </div>
        <div class="col-8 text-center">
          <h4>Edit</h4>
        </div>
        <div class="col-2">
            <button class="btn btn-success float-right" (click)="submit()">Submit</button>
        </div>
      </div>
      
      <div class="row pt-3">
        <div class="col">
          Description:
        </div>
      </div>

      <div class="row pt-1 pb-3">
        <div class="col" style="max-width: 400px;">
          <input [(ngModel)]="appointment.Description" class="form-control">
        </div>
      </div>
      
      <div class="row pb-1">
        <div class="col">
          Date:
        </div>
      </div>
      <div class="row pb-0">
        <div class="col">
            <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control calendar" placeholder="{{appointment.Start | date:'yyyy-MM-dd'}}"
                           name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
              </div>
            </form>
        </div>
      </div>

      <div class="row pb-2">
        <div class="col">
          <div>Starts:</div>
          <ngb-timepicker [(ngModel)]="startTime" [minuteStep]="5"></ngb-timepicker>
        </div>
      </div>

      <div class="row pb-2">
        <div class="col">
          <div>Ends: </div>
          <ngb-timepicker [(ngModel)]="endTime" [minuteStep]="5"></ngb-timepicker>
        </div>
      </div>
  
      <div class="row py-1">
        <div class="col">
          <span>Party: </span>
          <span *ngFor="let user of people; last as isLast">
            <a routerLink="/u/{{user.Id}}">
              {{user.Name}}{{isLast? '' : ', '}}
            </a>
          </span>
        </div>
      </div>
  
      <hr class="my-2">
  
      <div *ngIf="appointment.Notes.length" class="row mb-2">
        <div class="col">
          Notes:
        </div>
      </div>
  
      <div *ngFor="let note of appointment.Notes" class="row pb-2">
        <div class="col">
          - {{note}}
        </div>
      </div>
  
      <div *ngIf="addingNote" class="row">
        <div class="col form-group">
          <textarea #newNote class="form-control" rows="5" style="max-width: 400px" id="new-note"></textarea>
          <button class="btn btn-success mt-2" (click)="addNote()">Submit</button>
        </div>
      </div>
  
      <div *ngIf="!addingNote" class="row mt-1">
        <div class="col">
          <button class="btn btn-primary" (click)="addingNote=true">Add note</button>
        </div>
      </div>
  
    </div>
  </div>