<div id="search-box" class="input-group">
  <input #searchBox type="search" [ngClass]="{'results-returned': (users$ | async)?.length && searching}"
    class="form-control border border-secondary border-right-0" 
    (keyup)="search(searchBox.value)" (keyup.enter)="autofill(); go()"
    (focus)="searching=true;search(searchBox.value)" (blur)="searching=false">
  <span class="input-group-append" (click)="searchBox.focus()">
    <div class="bg-white border rounded-right border-secondary border-left-0 p-0" 
      [ngClass]="{'results-returned': (users$ | async)?.length && searching}">
      <img class="m-1" src="assets/search.png" alt="" style="width: 32px;">
    </div>
  </span>
  <ng-container *ngIf="searching">
    <ul class="search-results">
      <li #autoUser class={{user.Id}} *ngFor="let user of users$ | async" (mousedown)="searchBox.value=user.Name; go()">{{user.Name}}</li>
    </ul>
  </ng-container>
</div>